.about-intro-container {
    position: relative;
    background-color: get-map-value($map-colors, "main-teal", "teal-0");
    overflow: hidden;

    & .bg-pattern.bgPatternAbout1 {
        position: absolute;
        right: -100px;
    }
}
