.client-examples-container {
    background-color: get-map-value($map-colors, "main-teal", "teal-2");
    position: relative;
    overflow: hidden;

    & .bg-pattern.bgPatternAbout4 {
        position: absolute;
    }

    & .client-preview img {
        object-fit: contain;
    }
}
