footer {
    background-color: $main-teal-clr1;
    color: $white-clr;
    padding-block: 48px;

    & .app-footer-container :is(.contact-container pre, .share-copyright-container .copyright p) {
        @include typography-5;
    }

    & .app-footer-container {
        display: flex;

        & .nav-and-contact {
            display: flex;
            justify-content: space-between;

            & .nav-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                & nav {
                    display: flex;
                    gap: 25px;

                    & a:hover {
                        cursor: pointer;
                        color: $main-orange-clr0;
                    }
                }
            }

            & .contact-container {
                display: flex;
                flex-direction: column;
            }
        }

        & .share-copyright-container {
            flex: 1;
            display: flex;

            & nav {
                display: flex;
                gap: 16px;

                & a {
                    width: 24px;
                    height: 24px;

                    &:hover img {
                        filter: brightness(0) saturate(100%) invert(81%) sepia(54%) saturate(3586%) hue-rotate(307deg)
                            brightness(95%) contrast(104%);
                    }
                }
            }
        }
    }
}
