header {
    height: 200px;
    background-color: $main-teal-clr0;
    color: $white-clr;

    & .app-header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;
        padding-block: 73px;

        & .header-logo-container {
            display: flex;
            gap: 80px;
            align-items: center;

            & .logo {
                width: 160px;
                height: 40px;
            }

            & nav {
                display: flex;
                gap: 41px;
            }
        }

        & .contact-btn-container {
            & button {
                color: inherit;
                background-color: inherit;
                border: 2px solid $white-clr;
                border-radius: 24px;
                padding-block: 8px;
                padding-inline: 30.5px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: $white-clr;
                    color: $main-teal-clr0;
                    cursor: pointer;
                }
            }
        }
    }
}
