footer {
    background-color: $main-teal-clr1;
    color: $white-clr;
    padding-block: 48px;

    & .app-footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & .nav-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .logo {
                width: 160px;
                height: 40px;
            }

            & nav {
                display: flex;
                gap: 41px;
            }
        }

        & .share-copyright-container {
            display: grid;
            grid-template-rows: auto 1fr;

            & nav {
                display: flex;
                justify-content: flex-end;
                gap: 16px;

                & a {
                    & img {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            & .copyright {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
}
