.get-started-container {
    background-color: #f67e7e;
    color: #012f34;
    padding-block: 76px;

    & .get-started {
        padding-inline-start: 98px;
        padding-inline-end: 95px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .contact-btn-container {
            display: flex;
            justify-content: flex-end;

            & button {
                color: inherit;
                background-color: inherit;
                border: 2px solid #012f34;
                border-radius: 24px;
                padding-block: 8px;
                padding-inline: 30.5px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: white;
                    border-color: white;
                    color: #014e56;
                    cursor: pointer;
                }
            }
        }
    }
}
