header {
    height: 200px;
    background-color: #014e56;
    color: rgb(255, 255, 255);

    & .app-header-container {
        padding-block: 73px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .header-logo-container {
            display: flex;
            gap: 80px;
            align-items: center;

            & .logo {
                & h1 {
                    font-size: 32px;
                }
            }

            & nav {
                display: flex;
                gap: 41px;
            }
        }

        & .contact-btn-container {
            & button {
                color: inherit;
                background-color: inherit;
                border: 2px solid white;
                border-radius: 24px;
                padding-block: 8px;
                padding-inline: 30.5px;
                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: white;
                    color: #014e56;
                    cursor: pointer;
                }
            }
        }
    }
}
