.get-started-container {
    background-color: $main-orange-clr0;
    color: $main-teal-clr2;

    & .get-started .contact-btn-container p {
        @include typography-4;
    }

    & .get-started {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 33px;

        & .contact-btn-container {
            display: flex;
            justify-content: flex-end;

            & a {
                color: inherit;
                background-color: inherit;
                border: 2px solid $main-teal-clr2;
                border-radius: 24px;
                padding-block: 8px;
                padding-inline: 30.5px;
                transition: all 0.2s ease-in-out;

                & p {
                    width: 88px;
                    text-align: center;
                }

                &:hover {
                    background-color: $main-teal-clr2;
                    border-color: $main-teal-clr2;
                    color: $white-clr;
                    cursor: pointer;
                }
            }
        }
    }
}
