.side-navbar-wrapper {
    & :is(.black-transparent-bg-wrapper, .side-navbar-container) {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        height: 100vh;
        width: 0;
        transition:
            width 0.3s ease-out,
            right 0.3s ease-out;
    }

    &.active {
        & :is(.side-navbar-container, .black-transparent-bg-wrapper) {
            right: 0;
        }

        & .black-transparent-bg-wrapper {
            width: 100vw;
        }
    }

    & .black-transparent-bg-wrapper {
        background-color: get-map-value($map-colors, "pure", "black");
        opacity: 0.5;
    }

    & .bg-pattern.bgPatternMobileNav1 {
        position: absolute;
        right: -100px;
        bottom: 0;
    }

    & .side-navbar-container {
        max-width: calc(100vw - 50px);
        width: auto;
        background-color: get-map-value($map-colors, "main-teal", "teal-6");
        color: get-map-value($map-colors, "pure", "white");

        & .side-navbar {
            position: relative;

            & .btn-close {
                @include clean-btn;
                position: absolute;
                right: 0;
                top: 0;
                left: 189px;
                width: max-content;

                &:hover {
                    cursor: pointer;
                }
            }

            & .main-nav-and-contact {
                & .main-nav .nav-list {
                    flex-direction: column;
                    gap: get-map-value($map-gap, "24px");
                }

                & .contact-btn-container {
                    margin-block-start: get-map-value($map-margin-block-start, "36px");

                    & .contact-btn {
                        @include contact-btn(
                            big,
                            get-map-value($map-colors, "pure", "white"),
                            get-map-value($map-colors, "main-teal", "teal-0")
                        );
                    }
                }
            }
        }
    }
}
