.side-navbar-wrapper {
    & :is(.black-transparent-bg-wrapper, .side-navbar-container) {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
    }

    & .side-navbar-container nav p {
        @include typography-4;
    }

    & .black-transparent-bg-wrapper {
        left: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
    }

    & .side-navbar-container {
        min-width: 63vw;
        max-width: calc(100vw - 100px);
        background-color: $main-teal-clr6;
        color: $white-clr;
        padding-inline: 25px;
        padding-block-start: 56px;

        & .side-navbar {
            display: grid;
            grid-template-columns: 1fr auto;
            justify-content: space-between;
            gap: 5px;

            & .btn-close {
                @include clean-btn;
                right: 0;
                top: 0;
                height: 17px;
                width: 18px;

                &:hover {
                    cursor: pointer;
                }
            }

            & nav {
                padding-block: 56px;
                padding-inline-start: 23px;

                & .nav-list {
                    & > * {
                        &:not(:first-child) {
                            margin-block-start: 24px;
                        }

                        &:hover {
                            cursor: pointer;
                            color: $main-orange-clr0;
                        }
                    }
                }

                & .contact {
                    margin-block-start: 36px;

                    & a {
                        display: block;
                        width: fit-content;
                        border: 2px solid $white-clr;
                        border-radius: 24px;
                        padding-inline: 31.5px;
                        padding-block: 8px;
                        transition: all 0.2s ease-in-out;

                        & p {
                            text-align: center;
                            width: 92px;
                        }

                        &:hover {
                            background-color: $white-clr;
                            color: $main-teal-clr0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
