.find-talent-container {
    position: relative;
    background-color: get-map-value($map-colors, "main-teal", "teal-0");
    overflow: hidden;

    & .bg-img {
        position: absolute;

        &.bgPatternHome2 {
            bottom: 0;
        }
    }

    & .find-talent {
        position: relative;

        & .title h1 span {
            color: get-map-value($map-colors, "main-orange", "orange-0");
        }
    }
}
