.home-page .example-container {
    background-color: $main-teal-clr3;

    & .example .list .item {
        & p {
            @include typography-5;
        }

        & h3 {
            @include typography-4;
        }

        & h4 {
            @include typography-6;
            font-weight: 500;
            font-style: italic;
        }
    }

    & .example {
        text-align: center;

        & .title h2 span {
            color: $main-teal-clr4;
        }

        & .list {
            & .item {
                & p {
                    padding-block-start: 36px;
                }

                & h3 {
                    padding-block-end: 2px;
                    color: $main-teal-clr4;
                }

                & .avatar-pic {
                    box-sizing: content-box;
                    margin-inline: auto;
                    height: 62px;
                    width: 62px;
                    border: 2px solid $main-teal-clr5;
                    border-radius: 32px;
                    overflow: hidden;
                }
            }
        }
    }
}
