.home-page .header-extension-container {
    position: relative;
    background-color: $main-teal-clr0;
    overflow: hidden;

    & .bg-img {
        position: absolute;

        &.bgPatternHome2 {
            bottom: 0;
        }
    }

    & .header-extension {
        position: relative;

        & .title h1 span {
            color: $main-orange-clr0;
        }
    }
}
