.home-page .info-container {
    position: relative;
    background-color: $main-teal-clr2;
    overflow: hidden;

    & .info .list .item .content-container {
        & h3 {
            @include typography-4;
        }

        & p {
            @include typography-5;
        }
    }

    & .bg-pattern.bg-pattern-home-3 {
        position: absolute;
        display: flex;
        width: 200px;
        height: 244px;
        right: -100px;
    }

    & .info {
        & .title {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                height: 4px;
                width: 50px;
                background-color: $main-orange-clr0;
            }
        }

        & .list {
            display: flex;
            flex-direction: column;

            & .item {
                display: flex;

                & .img-container {
                    display: flex;

                    & img {
                        height: 72px;
                        width: 72px;
                    }
                }

                & .content-container {
                    display: flex;
                    flex-direction: column;

                    & h3 {
                        color: $main-orange-clr0;
                    }
                }
            }
        }
    }
}
