.home-page .header-extension-container {
    // padding-inline: 165px;
    background-color: #014e56;
    position: relative;

    & img.bg-img {
        position: absolute;
        height: 200px;

        &.bgPatternHome1 {
            width: 200px;
            left: -100px;
        }

        &.bgPatternHome2 {
            width: 400px;
            right: 165px;
            bottom: 0;
        }
    }

    & .header-extension {
        padding-block-start: 50px;
        padding-block-end: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-columns: minmax(auto,618px) minmax(auto,445px);
        // grid-template-columns: 618px minmax(auto,445px);
        // justify-content: center;
        gap: 30px;

        & .left {
            & h1 {
                font-family: Livvic-Bold;
                font-size: 100px;
                line-height: 100px;
                & span {
                    color: #f67e7e;
                }
            }
        }

        & .right {
            display: flex;
            align-items: end;

            & p {
                height: fit-content;
                line-height: 28px;
                font-size: 18px;
            }
        }
    }
}
