.manage-teams-container {
    position: relative;
    background-color: $main-teal-clr2;
    overflow: hidden;

    & .manage-teams .list .item .content-container {
        & h3 {
            @include typography-4;
        }

        & p {
            @include typography-5;
        }
    }

    & .bg-pattern.bg-pattern-home-3 {
        position: absolute;
        right: -100px;
    }

    & .manage-teams {
        & .title {
            @include small-upper-rectangle($main-orange-clr0);
        }

        & .list {
            display: flex;
            flex-direction: column;

            & .item {
                display: flex;

                & .img-container {
                    display: flex;
                    flex: 0 0 auto;
                    height: $size-pic-icon-home-info;
                    width: $size-pic-icon-home-info;
                }

                & .content-container {
                    display: flex;
                    flex-direction: column;

                    & h3 {
                        color: $main-orange-clr0;
                    }
                }
            }
        }
    }
}
