.manage-teams-container {
    position: relative;
    background-color: $main-teal-clr2;
    overflow: hidden;

    & .bg-pattern.bg-pattern-home-3 {
        position: absolute;
        right: -100px;
    }

    & .manage-teams {
        & .title {
            @include small-upper-rectangle($main-orange-clr0);
        }

        & .team-quality-preview .content-container h3 {
            color: $main-orange-clr0;
        }
    }
}
