.success-stories-container {
    & .bg-pattern {
        &.iconQuotes {
            inset: 0 50%;
            transform: translate(-50%, 0);
            z-index: -1;
            width: max-content;
            height: max-content;
        }
    }

    & .success-story-preview {
        z-index: 0;

        & .avatar-pic {
            @include avatar($size-pic-avatar-small);
        }
    }
}
