// ============ Colors ============
@each $colorType, $colors in $map-colors {
    @each $colorName, $colorValue in $colors {
        .clr-#{$colorName} {
            color: $colorValue;
        }

        .bg-clr-#{$colorName} {
            background-color: $colorValue;
        }
    }
}

// ============ Font Sizes & Line Heights ============
@each $setting in $typography-settings {
    $i: index($typography-settings, $setting);
    .typography-#{$i} {
        @include typography($i);
    }
}

// ============ Padding Inline's ============
@each $class-name, $padding-inline in $map-padding-inline {
    .pd-in-#{$class-name} {
        padding-inline: $padding-inline;
    }
}

// ============ Padding Blocks ============
@each $class-name, $padding-block in $map-padding-block {
    .pd-bl-#{$class-name} {
        padding-block: $padding-block;
    }
}

// ======================== Flex & Grid ========================
.flex,
.grid {
    // ******** Align & Justify ********
    &.justify-start {
        justify-content: flex-start;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }

    &.align-center {
        align-items: center;
    }

    &.align-baseline {
        align-items: baseline;
    }

    // ******** Gaps ********
    @each $class-name, $gap in $map-gap {
        &.gap-#{$class-name} {
            gap: $gap;
        }
    }
}

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    > *.no-grow-shrink {
        flex: 0 0 auto;
    }

    &.column {
        flex-direction: column;
    }
}

.grid {
    display: grid;
}

// ============ Positioning ============
.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

.overflow-hidden {
    overflow: hidden;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.right-neg-100px {
    right: -100px;
}

.bottom-0 {
    bottom: 0;
}

.bottom-neg-28px {
    bottom: -28px;
}

.left-0 {
    left: 0;
}

.left-189px {
    left: 189px;
}

.left-neg-100px {
    left: -100px;
}

// ============ Sizing & Spacing ============
// ****** Width ******
.width-0 {
    width: 0;
}

.width-100-percent {
    width: 100%;
}

.width-100vw {
    width: 100vw;
}

.width-auto {
    width: auto;
}

.width-max-content {
    width: max-content;
}

.min-width-270px {
    min-width: 270px;
}

// ****** Height ******
.height-100vh {
    height: 100vh;
}

.height-max-content {
    height: max-content;
}

.height-fit-content {
    height: fit-content;
}

// ****** Other ******
.object-fit-contain {
    object-fit: contain;
}

// ============ Media Ratio ============
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// ============ Text Transformation ============
.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.font-weight-500 {
    font-weight: 500;
}

// ============ Opacity ============
.opacity-1 {
    opacity: 1;
}

.opacity-0-5 {
    opacity: 0.5;
}

.opacity-0 {
    opacity: 0;
}

// ============ Other ============
.pointer-ev-none {
    pointer-events: none;
}
