// ============ Font Sizes ============
// .typography-1 {
//     @include typography-1;
// }

@each $setting in $typography-settings {
    $i: index($typography-settings, $setting);
    .typography-#{$i} {
        @include fs-lh(nth($setting, 1), nth($setting, 2));
    }
}

// ============ Flex ============
.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }

    &.align-center {
        align-items: center;
    }

    &.align-baseline {
        align-items: baseline;
    }
}

// ============ Sizing & Spacing ============
.min-width-56px {
    min-width: 56px;
}

.width-100-percent {
    width: 100%;
}

// ============ Media Ratio ============
.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

// ============ Text Transformation ============
.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.text-align-center {
    text-align: center;
}
