// less than 1440px
@include for-wide-layout {
    .home-page {
        & .header-extension-container {
            & .bg-img {
                &.bgPatternHome1 {
                    display: none;
                }

                &.bgPatternHome2 {
                    inset-inline: 50%;
                    transform: translateX(-50%);
                }
            }

            & .header-extension {
                padding-block-start: 48px;
                padding-block-end: 256px;
                text-align: center;

                & .title {
                    padding-block-end: 24px;
                    padding-inline: 25%;

                    & h1 {
                        @include typography-2;
                    }
                }

                & .content p {
                    @include typography-8;
                }
            }
        }
    }
}

// less than 768px
@include for-normal-layout {
    .main-layout {
        grid-template-columns: 24px 1fr 24px;
    }

    .home-page {
        & .header-extension-container {
            & .header-extension {
                padding-block-start: 32px;
                padding-block-end: 197px;

                & .title {
                    padding-block-end: 18px;
                    padding-inline: 15%;

                    & h1 {
                        @include typography-7;
                    }
                }
            }
        }
    }
}

// less than 375px
@include for-narrow-layout {
    .home-page {
        & .header-extension-container {
            & .bg-img.bgPatternHome2 {
                width: 100%;
                height: auto;
                display: flex;
            }

            & .header-extension .title {
                padding-inline: unset;
            }
        }
    }
}

// more than 375px
@include for-mobile-layout {
    .home-page {
        & .header-extension-container {
            & .bg-img.bgPatternHome2 {
                height: 100px;
                width: 358px;
            }

            & .header-extension {
                & .content {
                    padding-inline: 15%;
                }
            }
        }
    }
}

// more than 768px
@include for-tablet-layout {
    .main-layout {
        grid-template-columns: 40px 1fr 40px;
    }
}

// more than 1440px
@include for-desktop-layout {
    .main-layout {
        grid-template-columns: 165px 1fr 165px;
    }

    .home-page {
        & .header-extension-container {
            & .bg-img {
                &.bgPatternHome1 {
                    height: 200px;
                    width: 200px;
                    left: -100px;
                }

                &.bgPatternHome2 {
                    right: 165px;
                }
            }

            & .header-extension {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                padding-block-start: 56px;
                padding-block-end: 250px;

                & .title h1 {
                    @include typography-1;
                }

                & .content {
                    display: flex;
                    align-items: flex-end;
                    padding-inline: unset;

                    & p {
                        @include typography-4;
                    }
                }
            }
        }
    }
}
