.contact-us-form {
    & .contact-us-field :is(input, textarea) {
        @include typography(5);
        font-weight: 600;
        font-family: Livvic;
    }

    & .contact-us-field {
        &.error {
            & :is(input, textarea) {
                color: get-map-value($map-colors, "main-orange", "orange-0");
                border-bottom-color: get-map-value($map-colors, "main-orange", "orange-0");
            }
        }

        & :is(input, textarea) {
            @include clean-btn;
            display: block;
            outline: none;
            color: get-map-value($map-colors, "pure", "white");
            min-width: 0;
            width: 100%;
            border-bottom: 1px solid get-map-value($map-colors, "pure", "white");
            padding-inline-start: 14px;
            padding-block-end: 16px;

            &::placeholder {
                opacity: 1;
            }

            &:focus {
                &::placeholder {
                    opacity: 0;
                }

                border-bottom-color: get-map-value($map-colors, "main-teal", "teal-4");
            }

            &:hover {
                cursor: pointer;
                border-bottom-color: get-map-value($map-colors, "main-teal", "teal-4");
            }
        }

        & .err-msg {
            color: get-map-value($map-colors, "main-orange", "orange-0");
        }
    }

    & .submit-btn {
        @include clean-btn;
        background-color: get-map-value($map-colors, "pure", "white");
        border-radius: $border-radius-0;
        color: get-map-value($map-colors, "main-teal", "teal-3");
        transition: background-color .2s ease-in-out;

        &:not(:disabled):hover {
            background-color: get-map-value($map-colors, "main-teal", "teal-4");
        }

        &:disabled{
            opacity: 0.25;
        }
    }
}
