/* =================== Breakpoint =================== */
// less than 375px
@mixin for-narrow-layout {
    @media (max-width: calc($mobile-breakpoint - 1px)) {
        @content;
    }
}

// less than 768px
@mixin for-normal-layout {
    @media (max-width: calc($tablet-breakpoint - 1px)) {
        @content;
    }
}

// less than 1440px
@mixin for-wide-layout {
    @media (max-width: calc($desktop-breakpoint - 1px)) {
        @content;
    }
}

// more than 375px
@mixin for-mobile-layout {
    @media (min-width: calc($mobile-breakpoint)) {
        @content;
    }
}

// more than 768px
@mixin for-tablet-layout {
    @media (min-width: calc($tablet-breakpoint)) {
        @content;
    }
}

// more than 1440px
@mixin for-desktop-layout {
    @media (min-width: calc($desktop-breakpoint)) {
        @content;
    }
}

/* =================== Media =================== */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-block-start: calc(($height / $width) * 100%);
    }

    & > * {
        position: absolute;
        inset: 0;
    }
}

/* =================== Mixin for removing hover effects on iphone screen =================== */
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}
/* =================== Fonts typography =================== */
@mixin typography-1 {
    font-size: rem(100px);
    line-height: rem(100px);
}

@mixin typography-2 {
    font-size: rem(64px);
    line-height: rem(56px);
}

@mixin typography-3 {
    font-size: rem(48px);
    line-height: rem(48px);
}

@mixin typography-4 {
    font-size: rem(18px);
    line-height: rem(28px);
}

@mixin typography-5 {
    font-size: rem(15px);
    line-height: rem(25px);
}

@mixin typography-6 {
    font-size: rem(13px);
    line-height: rem(18px);
}

/* =================== Reset =================== */
@mixin clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
