/* =================== Breakpoint =================== */
// less than 375px
@mixin for-narrow-layout {
    @media (max-width: calc($mobile-breakpoint - 1px)) {
        @content;
    }
}

// less than 768px
@mixin for-normal-layout {
    @media (max-width: calc($tablet-breakpoint - 1px)) {
        @content;
    }
}

// less than 1440px
@mixin for-wide-layout {
    @media (max-width: calc($desktop-breakpoint - 1px)) {
        @content;
    }
}

// more than 375px
@mixin for-mobile-layout {
    @media (min-width: calc($mobile-breakpoint)) {
        @content;
    }
}

// more than 768px
@mixin for-tablet-layout {
    @media (min-width: calc($tablet-breakpoint)) {
        @content;
    }
}

// more than 1440px
@mixin for-desktop-layout {
    @media (min-width: calc($desktop-breakpoint)) {
        @content;
    }
}

/* =================== Media =================== */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 100%;
        padding-block-start: calc(($height / $width) * 100%);
    }

    & > * {
        position: absolute;
        inset: 0;
    }
}

/* =================== Mixin for removing hover effects on iphone screen =================== */
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}
/* =================== Fonts typography =================== */
@mixin fs-lh($fs: 100px, $lh: 100px) {
    font-size: rem($fs);
    line-height: rem($lh);
}

@mixin typography-1 {
    @include fs-lh(100px, 100px);
}

@mixin typography-2 {
    @include fs-lh(64px, 56px);
}

@mixin typography-3 {
    @include fs-lh(48px, 48px);
}

@mixin typography-4 {
    @include fs-lh(18px, 28px);
}

@mixin typography-5 {
    @include fs-lh(15px, 25px);
}

@mixin typography-6 {
    @include fs-lh(13px, 18px);
}

@mixin typography-7 {
    @include fs-lh(40px, 40px);
}

@mixin typography-8 {
    @include fs-lh(15px, 28px);
}

@mixin typography-9 {
    @include fs-lh(32px, 32px);
}

@mixin typography-10 {
    @include fs-lh(64px, 100px);
}

/* =================== Reset =================== */
@mixin clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin clean-btn {
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: none;
}

/* =================== Repeating Styling =================== */
@mixin avatar($size: $size-pic-avatar-small) {
    box-sizing: content-box;
    height: $size;
    width: $size;
    border: 2px solid $main-teal-clr5;
    border-radius: 50%;
    overflow: hidden;
    margin-inline: auto;
}

@mixin nav-share($size: $size-pic-icon-share-small) {
    display: flex;
    gap: 16px;

    & a {
        width: $size;
        height: $size;

        &:hover img {
            filter: $clr-filter0;
        }
    }
}

@mixin small-upper-rectangle($clr: $main-orange-clr0) {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 4px;
        width: 50px;
        background-color: $clr;
    }
}
