// ======================== COLORS ========================:
// ******* Main Colors Teal *******
$main-teal-clr0: rgb(1, 78, 86);
$main-teal-clr1: rgb(0, 37, 41);
$main-teal-clr2: rgb(1, 47, 52);
$main-teal-clr3: rgb(0, 64, 71);
$main-teal-clr4: rgb(121, 200, 199);
$main-teal-clr5: rgb(196, 255, 254);
$main-teal-clr6: rgb(44, 98, 105);

// ******* Main Colors Orange *******
$main-orange-clr0: rgb(246, 126, 126);

// ******* Pure Colors *******
$white-clr: rgb(255, 255, 255);
$black-clr: rgb(0, 0, 0);

// ******* Filter Color Replacement For Icons *******
$clr-filter0: brightness(0) saturate(100%) invert(81%) sepia(54%) saturate(3586%) hue-rotate(307deg) brightness(95%)
    contrast(104%); //$main-orange-clr0

// ======================== Breakpoints ========================:
// ******* Breakpoints *******
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

// ======================== Picture Sizes ========================:
// ******* Picture Sizes *******
$size-pic-icon-share-small: 20px;
$size-pic-icon-share-large: 24px;
$size-pic-avatar-small: 62px;
$size-pic-avatar-large: 96px;
$size-pic-icon-home-info: 72px;

// ======================== Padding Blocks ========================:
// ******* Padding-block List *******
$padding-block-0: 8px;
$padding-block-1: 48px;
$padding-block-2: 56px;
$padding-block-3: 64px;
$padding-block-4: 73px;
$padding-block-5: 76px;
$padding-block-6: 83px;
$padding-block-7: 88px;
$padding-block-8: 100px;
$padding-block-9: 140px;

// ******* Padding-block individual components *******
// padding-block-header
$padding-block-header-mobile: $padding-block-1;
$padding-block-header-tablet: $padding-block-3;
$padding-block-header-desktop: $padding-block-4;

// padding-block-footer
$padding-block-footer-mobile: $padding-block-3;
$padding-block-footer-tablet: $padding-block-2;
$padding-block-footer-desktop: $padding-block-1;

// padding-block-manage-teams
$padding-block-manage-teams-mobile: $padding-block-3;
$padding-block-manage-teams-tablet: $padding-block-8;
$padding-block-manage-teams-desktop: $padding-block-9;

// padding-block-success-stories
$padding-block-success-stories-mobile: $padding-block-9;
$padding-block-success-stories-tablet: $padding-block-8;
$padding-block-success-stories-desktop: $padding-block-9;

// padding-block-meet-directors
$padding-block-meet-directors-mobile: $padding-block-7;
$padding-block-meet-directors-tablet: $padding-block-8;
$padding-block-meet-directors-desktop: $padding-block-9;

// padding-block-get-started
$padding-block-get-started-mobile: $padding-block-6;
$padding-block-get-started-tablet: $padding-block-5;

// padding-block-client-examples
$padding-block-client-examples-mobile: $padding-block-7;
$padding-block-client-examples-tablet: $padding-block-8;
$padding-block-client-examples-desktop: $padding-block-9;

// ******* Padding-block unresponsive individual components *******
$padding-block-btn-contact-us: $padding-block-0;
$padding-block-side-navbar: $padding-block-2;

// ======================== Dimensions & Sizes ========================:
// ******* Border-radius *******
$border-radius-circle: 50%;
$border-radius-0: 24px;

// ******* Gap List *******
$gap-0: 16px;
$gap-1: 41px;
$gap-2: 25px;

// ******* Gap individual components *******
// gap-header-main-nav
$gap-header-main-nav: $gap-1;

// gap-footer-main-nav
$gap-footer-main-nav-desktop: $gap-1;
$gap-footer-main-nav-mobile: $gap-2;
