// ======================== COLORS ========================:
// ******* Main Colors Teal *******
$main-teal-clr0: rgb(1, 78, 86);
$main-teal-clr1: rgb(0, 37, 41);
$main-teal-clr2: rgb(1, 47, 52);
$main-teal-clr3: rgb(0, 64, 71);
$main-teal-clr4: rgb(121, 200, 199);
$main-teal-clr5: rgb(196, 255, 254);
$main-teal-clr6: rgb(44, 98, 105);

// ******* Main Colors Orange *******
$main-orange-clr0: rgb(246, 126, 126);

// ******* Pure Colors *******
$white-clr: rgb(255, 255, 255);
$black-clr: rgb(0, 0, 0);

// ******* Filter Color Replacement For Icons *******
//  Consider renaming it to something like $icon-filter-color
$clr-filter0: brightness(0) saturate(100%) invert(81%) sepia(54%) saturate(3586%) hue-rotate(307deg) brightness(95%)
    contrast(104%); //$main-orange-clr0

// ======================== Breakpoints ========================:
// ******* Breakpoints *******
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

// ======================== Typography & Fonts ========================:
// ******* Font-size & Line-height List *******
$typography-settings: (
    (100px, 100px),
    (64px, 56px),
    (48px, 48px),
    (18px, 28px),
    (15px, 25px),
    (13px, 18px),
    (40px, 40px),
    (15px, 28px),
    (32px, 32px),
    (64px, 100px)
);

// ======================== Picture Sizes ========================:
// ******* Picture Sizes *******
$size-pic-icon-share-small: 20px;
$size-pic-icon-share-large: 24px;
$size-pic-avatar-small: 62px;
$size-pic-avatar-large: 96px;

// ======================== Padding Inline's ========================:
// ******* Padding-inline Map *******
$padding-inline-map: (
    "pd-in-0": 0px,
    "pd-in-24": 24px,
    "pd-in-30-dot-5": 30.5px,
    "pd-in-31-dot-5": 31.5px,
    "pd-in-50": 50px,
    "pd-in-60": 60px,
    "pd-in-80": 80px,
    "pd-in-100": 100px,
    "pd-in-156": 156px
);

// ******* Padding-inline individual components *******
// padding-inline-null
$padding-inline-null: map-get($padding-inline-map, "pd-in-0");

// padding-inline-find-talent
$padding-inline-find-talent-content-tablet: map-get($padding-inline-map, "pd-in-156");

// padding-inline-success-stories
$padding-inline-success-stories-tablet: map-get($padding-inline-map, "pd-in-60");
$padding-inline-success-stories-title-tablet: map-get($padding-inline-map, "pd-in-80");

// padding-inline-meet-directors
$padding-inline-meet-directors-tablet: map-get($padding-inline-map, "pd-in-60");

// padding-inline-get-started
$padding-inline-get-started-mobile: map-get($padding-inline-map, "pd-in-50");
$padding-inline-get-started-tablet: map-get($padding-inline-map, "pd-in-100");

// ******* padding-inline unresponsive individual components *******
$padding-inline-contact-btn-small: map-get($padding-inline-map, "pd-in-30-dot-5");
$padding-inline-contact-btn-big: map-get($padding-inline-map, "pd-in-31-dot-5");

// ======================== Padding Blocks ========================:
// ******* Padding-block Map *******
$padding-block-map: (
    "pd-bl-8": 8px,
    "pd-bl-48": 48px,
    "pd-bl-56": 56px,
    "pd-bl-64": 64px,
    "pd-bl-73": 73px,
    "pd-bl-76": 76px,
    "pd-bl-83": 83px,
    "pd-bl-88": 88px,
    "pd-bl-100": 100px,
    "pd-bl-140": 140px
);

// ******* Padding-block individual components *******
// padding-block-header
$padding-block-header-mobile: map-get($padding-block-map, "pd-bl-48");
$padding-block-header-tablet: map-get($padding-block-map, "pd-bl-64");
$padding-block-header-desktop: map-get($padding-block-map, "pd-bl-73");

// padding-block-footer
$padding-block-footer-mobile: map-get($padding-block-map, "pd-bl-64");
$padding-block-footer-tablet: map-get($padding-block-map, "pd-bl-56");
$padding-block-footer-desktop: map-get($padding-block-map, "pd-bl-48");

// padding-block-manage-teams
$padding-block-manage-teams-mobile: map-get($padding-block-map, "pd-bl-64");
$padding-block-manage-teams-tablet: map-get($padding-block-map, "pd-bl-100");
$padding-block-manage-teams-desktop: map-get($padding-block-map, "pd-bl-140");

// padding-block-success-stories
$padding-block-success-stories-mobile: map-get($padding-block-map, "pd-bl-140");
$padding-block-success-stories-tablet: map-get($padding-block-map, "pd-bl-100");
$padding-block-success-stories-desktop: map-get($padding-block-map, "pd-bl-140");

// padding-block-meet-directors
$padding-block-meet-directors-mobile: map-get($padding-block-map, "pd-bl-88");
$padding-block-meet-directors-tablet: map-get($padding-block-map, "pd-bl-100");
$padding-block-meet-directors-desktop: map-get($padding-block-map, "pd-bl-140");

// padding-block-get-started
$padding-block-get-started-mobile: map-get($padding-block-map, "pd-bl-83");
$padding-block-get-started-tablet: map-get($padding-block-map, "pd-bl-76");

// padding-block-client-examples
$padding-block-client-examples-mobile: map-get($padding-block-map, "pd-bl-88");
$padding-block-client-examples-tablet: map-get($padding-block-map, "pd-bl-100");
$padding-block-client-examples-desktop: map-get($padding-block-map, "pd-bl-140");

// ******* Padding-block unresponsive individual components *******
$padding-block-btn-contact-us: map-get($padding-block-map, "pd-bl-8");

// ======================== Padding Block Start ========================:
// ******* padding-block-start map *******
$padding-block-start-map: (
    "30": 30px,
    "32": 32px,
    "44": 44px,
    "47": 47px,
    "48": 48px,
    "56": 56px,
    "58": 58px
);

// ======================== Padding Block End ========================:
// ******* padding-block-end map *******
$padding-block-end-map: (
    "56": 56px,
    "64": 64px,
    "108": 108px,
    "112": 112px,
    "197": 197px,
    "120": 120px,
    "250": 250px,
    "256": 256px
);

// ======================== Margin-Block-Start ========================:
// ******* margin-block-start map *******
$margin-block-start-map: (
    "14": 14px,
    "36": 36px,
    "48": 48px,
    "52": 52px,
    "64": 64px
);

// ======================== Margin-Block-End ========================:
// ******* margin-block-end map *******
$margin-block-end-map: (
    "2": 2px,
    "14": 14px,
    "16": 16px,
    "24": 24px,
    "30": 30px,
    "48": 48px,
    "56": 56px,
    "60": 60px
);

// ======================== Gaps ========================:
// ******* Gap Map *******
$gap-map: (
    "gap-16": 16px,
    "gap-24": 24px,
    "gap-25": 25px,
    "gap-30": 30px,
    "gap-32": 32px,
    "gap-41": 41px,
    "gap-46": 46px,
    "gap-48": 48px,
    "gap-49": 49px,
    "gap-57": 57px,
    "gap-80": 80px
);

// ******* Gap individual components *******
// gap-header-main-nav
$gap-header-main-nav: map-get($gap-map, "gap-41");

// gap-footer-main-nav
$gap-footer-main-nav-desktop: map-get($gap-map, "gap-41");
$gap-footer-main-nav-mobile: map-get($gap-map, "gap-25");

// gap-nav-sidebar-main-nav
$gap-nav-sidebar-main-nav: map-get($gap-map, "gap-24");

// gap-team-quality-list
$gap-team-quality-list-mobile: map-get($gap-map, "gap-48");
$gap-team-quality-list-tablet: map-get($gap-map, "gap-32");

// gap-success-story-list
$gap-success-story-list-desktop: map-get($gap-map, "gap-30");
$gap-success-story-list-mobile: map-get($gap-map, "gap-46");

// gap-client-example-list
$gap-client-example-list-desktop: map-get($gap-map, "gap-80");
$gap-client-example-list-tablet: map-get($gap-map, "gap-49");
$gap-client-example-list-mobile: map-get($gap-map, "gap-57");

// ======================== Dimensions & Sizes ========================:
// ******* Border-radius *******
$border-radius-circle: 50%;
$border-radius-0: 24px;
