// ======================== COLORS ========================:
// ******* Main Colors Teal *******
$main-teal-clr0: rgb(1, 78, 86);
$main-teal-clr1: rgb(0, 37, 41);
$main-teal-clr2: rgb(1, 47, 52);
$main-teal-clr3: rgb(0, 64, 71);
$main-teal-clr4: rgb(121, 200, 199);
$main-teal-clr5: rgb(196, 255, 254);
$main-teal-clr6: rgb(44, 98, 105);

// ******* Main Colors Orange *******
$main-orange-clr0: rgb(246, 126, 126);

// ******* Pure Colors *******
$white-clr: rgb(255, 255, 255);
$black-clr: rgb(0, 0, 0);

// ======================== Filter Color Replacement For Icons ========================:
$clr-filter0: brightness(0) saturate(100%) invert(81%) sepia(54%) saturate(3586%) hue-rotate(307deg) brightness(95%)
    contrast(104%); //$main-orange-clr0

// ======================== Box Shadows ========================:

// Breakpoints
$mobile-breakpoint: 375px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

// Picture Sizes:
$size-pic-icon-share-small: 20px;
$size-pic-icon-share-large: 24px;
$size-pic-avatar-small: 62px;
$size-pic-avatar-large: 96px;

// Picture Dimensions:

// Paddings
$padding-block-header-small: 48px;
$padding-block-header-medium: 64px;
$padding-block-header-large: 73px;

// $padding-large: 20px;
// $padding-small: 5px;

// Heights
// $height-header: 80px;

// Other
// $border-bottom: 1px solid $transparent-clr0;
