.get-started-container {
    position: relative;
    background-color: $main-orange-clr0;
    color: $main-teal-clr2;
    overflow: hidden;

    & .bg-pattern.bg-pattern-home-6 {
        position: absolute;
        left: 0;
        pointer-events: none;
    }

    & .get-started {
        gap: $gap-get-started;

        & .contact-btn-container .contact-btn {
            @include contact-btn(small, $main-teal-clr2, $white-clr);
        }
    }
}
